@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="crosshair">
	</div>
	<div class="info">
		<p>💶@EconomyManager.money.ToString("0.00")</p>
	</div>

</root>

@code
{
	[Property]
	public EconomyManager EconomyManager { get; set; }

	protected override int BuildHash()
	{
		return System.HashCode.Combine(EconomyManager.money);
	}
}
